<div class="container">
  <div class="row headline">
    {{> posts/header-block}}
  </div>
  <div class="row articles">
    {{> posts/post-block}}
    {{> posts/post-block}}

    {{> posts/post-block}}
    {{> posts/post-block}}    
  </div>
</div>
