<div class="log-form">
    <h2>Login</h2>
    <form>
        <input type="text" title="username" placeholder="username" />
        <label for="url">Username</label>
        <input type="password" title="password" placeholder="password" />
        <label for="url">Password</label>
        <button type="submit" class="btn">Login</button>
    </form>
</div>