body {
	background: #5d4037;
}

.container {
	background: #f06292;
}

.headlines-title {
	padding-left: 2rem !important;
}

.vote {
	background: #e0e0e0;
	padding: 0 1rem;
}

.header-link {
	padding-left: 0 !important;
}

.card {
	margin: 1rem 2rem 1rem 2rem;
}