<div class="col s12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="/assets/images/stock.png">
      <span class="card-title">Card Title | Fake date {{Date}}</span>
    </div>
    <div class="card-content">
      <span>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.
      </span>
      <div class="col right s1">
        <a class="right btn-flat vote waves-effect waves-green"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <a class="right btn-flat vote waves-effect waves-red"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
      <div class="card-action header-link">
        <a class="" href="#">Comment</a>
      </div>
    </div>
  </div>
</div>

