<div class="col s6">
	<div class="card section">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="" src="/assets/images/stock.png">
		</div>
		<div class="card-content">
			<span class="card-title grey-text text-darken-4">Card Title | Fake date {{Date}}
				{{!-- <i class="material-icons right">more_vert</i> --}}
			<div class="col right s1">
						<a class="right btn-flat vote waves-effect waves-green"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
						<a class="right btn-flat vote waves-effect waves-red"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
			</div>

			</span>

			<ul class="post-list">
				<li >
					<a href="#">Comments</a>
				</li>
				<li>
					<a href="#">Share</a>
				</li>
			</ul>
		</div>
	</div>
</div>
