<div class="col s6">
	<div class="card section">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="" src="/assets/images/stock.png">
		</div>
		<div class="card-content">
			<span class="card-title grey-text text-darken-4">Card Title | Fake date {{Date}}
				{{!-- <i class="material-icons right">more_vert</i> --}}
			<div class="col right s1">
						<a class="right btn-flat vote waves-effect waves-green"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
						<a class="right btn-flat vote waves-effect waves-red"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
			</div>

			</span>

			<p><a href="#">Comments</a></p>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">Card Title | Fake date {{Date}}<i class="material-icons right">close</i></span>
			<p>Here is some more information about this product that is only revealed once clicked on.</p>
		</div>
	</div>
</div>
